body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
   /* The image used */
   background-image: url(background-home.webp);

   /* Full height */
   height: 100%; 
 
   /* Center and scale the image nicely */
  
   background-repeat: no-repeat;
   background-size: cover;
}
p{
    color: aliceblue;
}
.def{
    font-size: 167%;
}
header {

        font-family: "Lacquer", system-ui;
        font-weight: 400;
        font-style: normal;
    background: #333;
    padding: 1rem;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.project {
    padding: 20px;
    text-align: center;
    color: aliceblue;
  
}

.hidden {
    display: none;
}
button {
    color:white;
    margin: 30px;
    padding: 7px 35px;
    font: 300 195% langdon;
    background: transparent;
    border: 3px solid black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    align-items: center;
    margin-left: 43%;
  } 
  
  button:hover {
    background: #395b20;
    border: 1px solid #8b8b8b;
  }
  
  button:active {
    background: #2e2e2e;
    border: 1px solid black;
    color: white;
    }
    .credit{
        margin-left: 45%;
    }
    .title{
        font-size: 435%;
            font-family: "Lacquer", system-ui;
            font-weight: 400;
            font-style: normal;
          }
.footer{
    align-items: end;
    margin-left: 87%;
    margin-top: 18%;
}
          


