body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.index {
    background-image: url(../images/background-home.webp);
}

header {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #333;
    padding: 1rem;
    color: white;
    text-align: center;
    background: #333;
    padding: 1rem;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    color: aliceblue;
}

.project {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;

}
.title{
    color: aliceblue;
}
.def{
    color: aliceblue;
    font-size: 192%;
}
button {
    color:white;
    margin: 30px;
    padding: 7px 35px;
    font: 300 195% langdon;
    background: transparent;
    border: 3px solid black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    align-items: center;
    margin-left: 43%;
} 
  
button:hover {
    background: #395b20;
    border: 1px solid #8b8b8b;
}
  
button:active {
    background: #2e2e2e;
    border: 1px solid black;
    color: white;
}

.credit{
    margin-left: 45%;
}
    
.title{
    font-size: 435%;
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}

.footer{
    align-items: end;
    margin-left: 87%;
    margin-top: 18%;
    color: aliceblue;
}
.round {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    width: 50%;
    height: 10%;
  }
  

/*credit page*/
.credits{
        font-family: "Martel", serif;
        font-weight: 900;
        font-style: normal;
        text-align: center;
        color: azure;
        margin: 10%;
      }
/*How to play*/
.how{
        font-family: "Limelight", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: azure;
        text-align: center;
        margin: 10%;
      }
      
/*option1m*/
.body{
    background-image:url(../images/boy-lost.webp) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}













#startText {
    border: 1px solid black;
    width: 50vw;
    position: relative;
    top: 20vh;
    left: 25vw;
    padding: 1%;
}

.startOptions {
    border: 1px black solid;
    width: 10vw;
    padding: 1.5%;
}

#startContainer {
    display: flex;
    position: relative;
    top: 26vh;
    left: 30vw;
    width: 40vw;
    justify-content: space-evenly;
}

.startP {
    color: black;
    margin: 0%;
    height: 11vh;
    font-size: 1.5rem;
}