body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.index {
    background-image: url(../images/background-home.webp);
}

header {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
    background: #333;
    padding: 1rem;
    color: white;
    text-align: center;
    background: #333;
    padding: 1rem;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    color: aliceblue;
}

.project {
    padding: 20px;
    text-align: center;
}

.hidden {
    display: none;

}
.title{
    color: aliceblue;
}
.def{
    color: aliceblue;
    font-size: 192%;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

button {
    color:white;
    margin: 30px;
    padding: 7px 35px;
    font: 300 195% langdon;
    background: transparent;
    border: 3px solid black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: block; /* Make the buttons appear below each other */
    align-items: center;
    margin-left: 43.5%;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
} 
  
button:hover {
    background: #395b20;
    border: 1px solid #8b8b8b;
}
  
button:active {
    background: #2e2e2e;
    border: 1px solid black;
    color: white;
}

.returnHome {
    position: relative;
    left: 14vw;
}

#displayChoicesButton {
    position: absolute;
    left: -15vw;
    bottom: 2vh;
}

.credit{
    margin-left: 45%;
}

.howPlay {
    margin-left: 43%;
}
    
.title{
    font-size: 435%;
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}

.footer{
    align-items: end;
    margin-left: 87%;
    margin-top: 14%;
    color: aliceblue;
}
.round {
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    width: 50%;
    height: 10%;
  }
  

/*credit page*/
.credits{
    font-family: "Martel", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: azure;
    margin: 10%;
}

.credits > h2 {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

/*How to play*/
.how{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: azure;
    text-align: center;
    margin: 10%;
}

.how > h1, .how > h3 {
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

#endingsText {
    border: 1px solid black;
    width: 78vw;
    position: relative;
    top: 11vh;
    left: 9vw;
    padding: 1%;
}
      
/*option1m*/
.body{
    background-image:url(../images/boy-lost.webp) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}




.body2one{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}




.chosen{
    margin-left: 15%;
    font-size: 1.5rem;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal; 
    color: white;
}


#startText {
    border: 1px solid black;
    width: 78vw;
    position: relative;
    top: 11vh;
    left: 9vw;
    padding: 1%;
}

.startOptions {
    border: 1px black solid;
    width: 18vw;
    padding: 1.5%;
}

#startContainer {
    display: flex;
    position: relative;
    top: 21vh;
    left: 13.5vw;
    width: 70vw;
    justify-content: space-evenly;
}

.startP {
    color: white;
    margin: 0%;
    height: 23vh;
    font-size: 1.5rem;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
}

#displayChoices {
    position: absolute;
    left: 73.5vw;
    bottom: 2vh;
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    width: 25vw;
    height: 73.5vh;
}

.body2{
    background-image:url(../images/beast-forest-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body3{
    background-image:url(../images/hears-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body4one{
    background-image:url(../images/beast-forest-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body4{
    background-image:url(../images/finding-unexpected-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body5one{
    background-image:url(../images/different-realm-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body5{
    background-image:url(../images/finding-unexpected-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body6{
    background-image:url(../images/meet-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body7{
    background-image:url(../images/following-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body8one{
    background-image:url(../images/beast-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body8two{
    background-image:url(../images/beast-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body8{
    background-image:url(../images/beast-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body9one{
    background-image:url(../images/walking-towards-beast-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}

.body9{
    background-image:url(../images/walking-towards-beast-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body10one{
    background-image:url(../images/two-path-options-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body10two{
    background-image:url(../images/two-path-options-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body11one{
    background-image:url(../images/going-into-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body11two{
    background-image:url(../images/going-into-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body11three{
    background-image:url(../images/going-into-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body11four{
    background-image:url(../images/portal-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}

.body11{
    background-image:url(../images/portal-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body12{
    background-image:url(../images/light-in-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body13{
    background-image:url(../images/looking-at-bush-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body14one{
    background-image:url(../images/villege-elder-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body14two{
    background-image:url(../images/villege-elder-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body14{
    background-image:url(../images/villege-elder-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body15one{
    background-image:url(../images/beast-forest-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body15two{
    background-image:url(../images/beast-forest-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body15{
    background-image:url(../images/beast-forest-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body16one{
    background-image:url(../images/yren!!!!-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body16two{
    background-image:url(../images/yren!!!!-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body16three{
    background-image:url(../images/yren!!!!-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body17{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body18{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body19{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body20one{
    background-image:url(../images/return-from-yren-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body20two{
    background-image:url(../images/return-from-yren-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body20{
    background-image:url(../images/return-from-yren-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body21{
    background-image:url(../images/witch-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body22{
    background-image:url(../images/yren!!!!-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body23{
    background-image:url(../images/portal-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body24{
    background-image:url(../images/dealing-with-yren-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body25one{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body25two{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body25{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body26one{
    background-image:url(../images/stay-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body26two{
    background-image:url(../images/stay-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body26{
    background-image:url(../images/stay-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body27{
    background-image:url(../images/talking-witch-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body28one{
    background-image:url(../images/trials-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body28{
    background-image:url(../images/trials-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body29one{
    background-image:url(../images/realm-destroyed-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body29{
    background-image:url(../images/realm-destroyed-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body30one{
    background-image:url(../images/close-walkinf-dragon-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body30two{
    background-image:url(../images/close-walkinf-dragon-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body30{
    background-image:url(../images/close-walkinf-dragon-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body31{
    background-image:url(../images/looking-at-bush-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body32{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body31{
    background-image:url(../images/yren!!!!-boy.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body34one{
    background-image:url(../images/knocked-over-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body34two{
    background-image:url(../images/knocked-over-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body34{
    background-image:url(../images/knocked-over-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body35{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body36{
    background-image:url(../images/follow-wren-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body37one{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body37{
    background-image:url(../images/stay-in-realm-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body38{
    background-image:url(../images/bond-yren!!-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body39one{
    background-image:url(../images/in-between-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body39{
    background-image:url(../images/in-between-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body40one{
    background-image:url(../images/different-realm-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body40{
    background-image:url(../images/danguos-era-dragon-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body41{
    background-image:url(../images/portal-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body42one{
    background-image:url(../images/in-between-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body42{
    background-image:url(../images/drangon-portal-with-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body43{
    background-image:url(../images/knocked-over-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body44{
    background-image:url(../images/step-into-shatter-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body45one{
    background-image:url(../images/two-path-options-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body45{
    background-image:url(../images/step-into-shatter-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body46{
    background-image:url(../images/looking-back-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body47{
    background-image:url(../images/following-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body48{
    background-image:url(../images/boy-old-women-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body49{
    background-image:url(../images/witch-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body50{
    background-image:url(../images/trials-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body51{
    background-image:url(../images/in-trails-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body52{
    background-image:url(../images/in-trails-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body53one{
    background-image:url(../images/in-trails-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body53two{
    background-image:url(../images/in-trails-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body53{
    background-image:url(../images/witch-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body54{
    background-image:url(../images/looking-at-bush-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body55{
    background-image:url(../images/witch-portal-arean-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body56{
    background-image:url(../images/first-trial-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body57{
    background-image:url(../images/two-path-options-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body58{
    background-image:url(../images/voice-in-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body59one{
    background-image:url(../images/door-in-woods-trials.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body59two{
    background-image:url(../images/door-in-woods-trials.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body59{
    background-image:url(../images/door-in-woods-trials.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body60{
    background-image:url(../images/solving-the-door-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body61{
    background-image:url(../images/trying-to-skip-trial-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body62{
    background-image:url(../images/solving-the-door-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body64one{
    background-image:url(../images/bridge-in-the-view-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body64two{
    background-image:url(../images/bridge-in-the-view-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body64{
    background-image:url(../images/bridge-in-the-view-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body65{
    background-image:url(../images/over-the-bidge-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body66{
    background-image:url(../images/going-into-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body67{
    background-image:url(../images/going-into-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body68one{
    background-image:url(../images/two-way-light-dark.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body68two{
    background-image:url(../images/two-way-light-dark.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body68{
    background-image:url(../images/two-way-light-dark.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body69{
    background-image:url(../images/stang-upon-yourself-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body70one{
    background-image:url(../images/begg-leave-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body70{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body71one{
    background-image:url(../images/shadow-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body71two{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body72{
    background-image:url(../images/two-way-light-dark.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body73{
    background-image:url(../images/confidence-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body74one{
    background-image:url(../images/confidence-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body74two{
    background-image:url(../images/confidence-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body74{
    background-image:url(../images/confidence-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body75{
    background-image:url(../images/top-tree-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body76one{
    background-image:url(../images/running-through-forest.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body76{
    background-image:url(../images/voice-in-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body77{
    background-image:url(../images/voice-in-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body78{
    background-image:url(../images/tired-forest.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body79one{
    background-image:url(../images/water-boy-new-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body79two{
    background-image:url(../images/water-boy-new-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body80{
    background-image:url(../images/failed-trying.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body81{
    background-image:url(../images/meeting-new-village.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body82{
    background-image:url(../images/meeting-new-village.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body83one{
    background-image:url(../images/on-top-barrier.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body83{
    background-image:url(../images/on-top-barrier.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body84{
    background-image:url(../images/sleepover.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body85{
    background-image:url(../images/water-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body86{
    background-image:url(../images/water-boy-new-village-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body87{
    background-image:url(../images/water-pickup.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body88one{
    background-image:url(../images/seperarating-river.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body88two{
    background-image:url(../images/seperarating-river.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body88{
    background-image:url(../images/seperarating-river.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body89{
    background-image:url(../images/controlling-water.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body90{
    background-image:url(../images/talking-witch-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body91{
    background-image:url(../images/follow-creature-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body92{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body93{
    background-image:url(../images/follow-light-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body94{
    background-image:url(../images/following-fox-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body95{
    background-image:url(../images/failed-trying.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body96one{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body96{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body97{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body98{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body99{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}
.body100{
    background-image:url(../images/back-forest-boy.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: 49%;
}